python-telegram-bot
instaloader
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
git+https://github.com/XMYSTERlOUSX/pyrogram
pyrogram
requests
tgcrypto
python-dotenv
redis
psycopg2-binary
feedparser
filesplit
git+https://github.com/XMYSTERlOUSX/mega.py
mega.py
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
